@page "/"

<PageTitle>Index</PageTitle>

<h1>Вітаємо на нашому сайті для Волонтерської діяльності!</h1>

На сайті для волонтерської діяльності можна реалізувати такі функції:

Реєстрація волонтерів: форма для заповнення даних, щоб стати волонтером.
Список проєктів: перелік актуальних волонтерських проєктів та ініціатив.
Календар подій: календар із запланованими подіями та заходами.
Форма зворотного зв'язку: можливість волонтерам задавати питання або давати пропозиції.
Блог та новини: статті про волонтерську діяльність, звіти про проведені заходи.
Форум або спільнота: платформа для спілкування волонтерів, обміну досвідом.



@* <SurveyPrompt Title="Ці функції допоможуть залучити більше людей до волонтерської діяльності та ефективніше координувати їхні зусилля" /> *@
